@import "tailwindcss";

/* Custom theme configuration */
@theme {
  --font-family-sans: "Tajwal", "Proxima Nova", sans-serif;
  --font-family-arabic: "Tajwal", sans-serif;

  --color-squad-primary: #281362;
  --color-squad-orange: #FE6A11;
  --color-squad-lavender: #A08FF6;
  --color-squad-softPurple: #C0B8FA;
  --color-squad-palePurple: #DFDBFF;
  --color-squad-bg: #F4F3FF;
  --color-squad-white: #FFFFFF;
}

body {
  background-color: var(--color-squad-bg);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-squad-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--color-squad-softPurple);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-squad-lavender);
}